node_modules
.next
out
dist
build
.cache
.turbo
.vercel
*.min.js
*.min.css
package-lock.json
yarn.lock
pnpm-lock.yaml
.git
.gitignore
.env
.env.local
.env.production.local
.env.development.local
coverage
.DS_Store
*.log
