@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 93.7%;
    --foreground: 0 0% 12.2%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    /* --primary: 0 5% 8%; */
    --primary: 0 5% 12.7%;
    --primary-foreground: 0 5% 12.7%;

    --secondary: 0 0% 37.3%;
    --secondary-foreground: 0 0% 37.3%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 198 34.3% 83.7%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.3rem;

    --circle-size: 40vw;
    --blending: hard-light;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
    font-family: "Arial", sans-serif !important;
    font-weight: 100 !important;
    /* letter-spacing: 0.1em; */
    color: hsl(var(--primary)) !important;
  }
  body {
    @apply bg-background text-foreground;
    overflow-x: hidden;
  }
  .hl::selection {
    @apply bg-orange-400 text-black;
  }
}

@layer base {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: hsl(
      var(--muted-foreground) / 0.5
    ); /* semi-transparent thumb */
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  /* Firefox */
  * {
    scrollbar-color: hsl(var(--muted-foreground) / 0.5) transparent;
    scrollbar-width: thin;
  }
}

a:hover {
  text-decoration: underline;
}

.title {
  font-family: "Arial", sans-serif !important;
  font-weight: 900 !important;
}
@media only screen and (max-width: 640px) {
  .title {
    font-size: 10vw !important;
    width: 100% !important;
  }
}
@media only screen and (max-width: 330px) {
  .title-mob {
    font-size: 100% !important;
    width: 100% !important;
  }
}

@media only screen and (max-width: 640px) {
  .desk-only {
    display: none !important;
  }
}

/* body {
  background: linear-gradient(135deg, #b59779, #f6996a) !important;
  min-height: 100% !important;
} */
